*.vagrant
.DS_Store
*.retry
#roles*
config.yml
code
.cisco
.BurpSuite/
.CFUserTextEncoding
.ansible/
.anyconnect
.asdf/
.asdfrc
.aws/
.bash
.bash-git-prompt/
.bash_aliases
.bash_history
.bash_profile
.bash_sessions/
.bashrc
.colima/
.config
.direnvrc
.docker/
.gitconfig
.inputrc
.iterm2/
.iterm2_shell_integration.bash
.kube/
.lesshst
.lima/
.local/
.npm/
.osx
.ssh/
.terraform.d/
.tmux.conf
.tmux/
.tool-versions
.vault-token
.vim/
.viminfo
.vimrc
.vscode/
.wget-hsts
.zsh_history
.zsh_sessions/
1053.txt
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
OneDrive - IAG
Pictures/
Public/
Replace Text (1).user.txt
VirtualBox VMs/
a-not-ok-github.txt
a-ok-github.txt
a.pem
b.pem
bin/
certs/
eks-cluster.tfstate
ep-base-images/
go/
graylog-kh-vuln-hack.json
graylog2-l4s.json
image_67183873.JPG
ip-ranges.json
medical certificate sep 2023.JPG
response-new.json
scan-logs
snyk-api-output.txt
snyk.json
tmp/
with_resolver_groups.csv
with_resolver_groups.xlsx
